<style>
body{
	background-image: url('/images/bg.jpg');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: cover;
	{
	</style>
	font-family: sans-serif;

	img {
		width: 100%;
	}
}
