body {
  background-image: url("/images/bg.jpg");
  font-family: sans-serif; }
  body h1 {
    color: white;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center; }
  body h2 {
    color: white;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    font-style: italic; }
  body iframe {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  body h3 {
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    font-size: 25px;
    font-style: italic; }
  body p {
    background-color: black;
    text-align: center;
    font-size: 20px;
    font-family: monospace; }
  body h4 {
    font-size: 30px;
    text-align: justify;
    font-size: bold;
    font-family: inherit;
    text-shadow: 2px 2px 4px black;
    font-style: italic; }
  body ol {
    text-align: center;
    font-style: bold;
    font-size: 20px;
    font-family: monospace;
    text-shadow: 2px 2px 4px black; }
  body li {
    text-align: justify;
    text-decoration: underline; }
  body footer {
    font-size: 17px;
    text-decoration-color: black;
    text-align: center; }
  body img {
    width: 100%; }
